---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"
import Notification from "../components/Notification.astro"
import { type Post } from "../types/post"
import { Status } from "../types/status"

let posts: Post[] = []
let status: Status = Status.unknown
let message: String = ""
try {
  const response = await fetch(
    "https://people.canonical.com/~anthonydillon/wp-json/wp/v2/posts.json"
  )
  posts = await response.json()
  status = Status.success
} catch (error) {
  status = Status.error
  message = "An error has occurred while fetching the posts."
}
---

<Layout title="Cards - Vanilla Framework">
  <main>
    {
      status === Status.success ? (
        <div class="row u-equal-height">
          {posts.map((post) => (
            <Card
              title={post.title.rendered}
              image={post.featured_media}
              article={post.link}
              authorName={post._embedded.author[0].name}
              authorPage={post._embedded.author[0].link}
              date={post.date}
              header={
                post._embedded["wp:term"]?.[2]?.[0]?.name ?? "Canonical Blog"
              }
              category={post._embedded["wp:term"]?.[0]?.[0]?.name ?? "Post"}
            />
          ))}
        </div>
      ) : (
        <Notification message={message} />
      )
    }
  </main>
</Layout>

<style lang="scss">
  main {
    margin-top: 2rem;
  }
</style>
