---
import { format } from "date-fns"

const {
  title,
  article,
  image,
  authorName,
  authorPage,
  date,
  header,
  category,
} = Astro.props

const createDate = format(date, "d MMMM yyyy")
---

<div class="col-4 col-medium-3 col-small-4 p-card--highlighted">
  <header class="p-card__header">
    <h5 class="p-muted-heading">{header}</h5>
  </header>
  <div class="p-card__body">
    <a href={article}>
      <img class="p-card__image" src={image} alt="blog post" />
    </a>
    <a href={article}>
      <h4 class="p-heading--4" set:html={title} />
    </a>
    <p class="p-card__content">
      <em>
        By
        <a href={authorPage}>
          {authorName}
        </a>
        on {createDate}
      </em>
    </p>
  </div>
  <p class="p-text--small p-card__footer">{category}</p>
</div>

<style lang="scss">
  @use "vanilla-framework" as v;
  .p-card--highlighted {
    display: flex;
    flex-direction: column;
    border-top: 3px solid v.$color-mid-dark;
  }
  .p-card__header {
    border-bottom: 1px dotted v.$color-mid-light;
  }
  .p-card__body {
    padding: 1rem 0rem;
  }
  .p-card__footer {
    margin-top: auto;
    padding-top: 1rem;
    border-top: 1px dotted v.$color-mid-light;
  }
</style>
